import request from '@/plugin/axios'

/**
 * 获取${comments}分页信息
 * @param {*} params
 */
export function get${className}Data(params) {
    return request({
        url: '/${moduleName}/${pathName}/list',
        method: 'get',
        params
    })
}


/**
 * 获取${comments}信息
 * @param {${pk.columnName}}  ${pk.comments}
 */
export function ${pathName}Info (${pk.columnName}) {
    return request({
        url: '/${moduleName}/${pathName}/get/' + ${pk.columnName},
        method: 'get'
    })
}

/**
 * 添加${comments}
 * @param  params
 */
export function add${className} (params) {
    return request({
        url: '/${moduleName}/${pathName}/add',
        method: 'post',
        data: params
    })
}

/**
 * 修改${comments}
 * @param  params
 */
export function update${className} (params) {
    return request({
        url: '/${moduleName}/${pathName}/edit',
        method: 'put',
        data: params
    })
}

/**
 * 删除${comments}
 * @param {${pk.columnName}}  ${pk.comments}
 */
export function delete${className}(${pk.columnName}) {
    return request({
        url: '/${moduleName}/${pathName}/delete/' + ${pk.columnName},
        method: 'delete'
    })
}
